extends layout
  
block content
	h1 #{title1}
	form(action='/article/edit/' +article._id, method='POST')
		#form-group
			label Title:
			input.form_control(name='title', type='text' value=article.title)
		#form-group
			label Author:
			input.form_control(name='author', type='text' value=article.author)
		#form-group
			label Body:
			textarea.form_control(name='body')= article.body
			br
		input.btn.btn-primary(type='submit', value='Submit')
